---
import { Card, HoverEffect } from "@components/card-hover-effect";
import Container from "@components/container.astro";
import Herosection from "@components/herosection.astro";
import Postlist from "@components/postlist.astro";
import Layout from "@layouts/Layout.astro";
import { latestPosts } from "@utils/content";
// Use Astro.glob() to fetch all posts, and then sort them by date.
// const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
//   (a, b) =>
//     new Date(b.frontmatter.publishDate).valueOf() -
//     new Date(a.frontmatter.publishDate).valueOf()
// );
// console.log(posts[0].frontmatter.image);
const docs: Array<{ url: string; name: string }> = [
  {
    name: "Basics of HTML",
    url: "https://assets.blackkalu.com/blackkalu/docs/Basics-of-HTML.pptx",
  },
  {
    name: "Instant messaging and Netiquettes",
    url: "https://assets.blackkalu.com/blackkalu/docs/Instant-messaging-and-Netiquettes.pptx",
  },
  {
    name: "Internet Service Provider",
    url: "https://assets.blackkalu.com/blackkalu/docs/Internet-Service-Provider.pptx",
  },
  {
    name: "OSI Model",
    url: "https://assets.blackkalu.com/blackkalu/docs/OSI-Model.pptx",
  },
  {
    name: "Operating System and its Types",
    url: "https://assets.blackkalu.com/blackkalu/docs/Operating-System-and-its-Types.pptx",
  },
  {
    name: "The TCP Network Model",
    url: "https://assets.blackkalu.com/blackkalu/docs/The-TCP-Network-Model.pptx",
  },
  {
    name: "Understanding URL Domain Name IP Address",
    url: "https://assets.blackkalu.com/blackkalu/docs/Understanding-URL-Domain-Name-IP-Address.pptx",
  },
  {
    name: "World Wide Web",
    url: "https://assets.blackkalu.com/blackkalu/docs/World-Wide-Web.pptx",
  },
];

const aiTools = [
  {
    title: 'Ai Code Converter',
    description: 'Simplify code translation effortlessly with our ai code converter. seamlessly convert your code from one language to another with ease.',
    link: '/ai/beta/code-converter'
  },
  {
    title: 'Ai Code Generater',
    description: 'Simplify code generation effortlessly with our AI Code Generator. Seamlessly generator your tailwindcss and reactjs code from your prompt with ease.',
    link: '/ai/beta/code-converter'
  }
]
---

<Layout title="">
  <main>
    <Herosection />
    <Container>
      <div class="flex justify-between mb-4">
        <h2 class="text-2xl md:text-3xl lg:text-4xl">Tech Articles</h2>
        <a href="/blog" class="text-blue-800 hover:underline">View All</a>
      </div>
      <div class="grid gap-10 lg:gap-10 md:grid-cols-2">
        {
          latestPosts
            .slice(0, 2)
            .map((post) => (
              <Postlist post={post} aspect="landscape" preloadImage={true} />
            ))
        }
      </div>
      <!-- <div class="grid gap-10 mt-10 lg:gap-10 md:grid-cols-2 xl:grid-cols-3">
        {
          latestPosts
            .slice(2)
            .map((post) => <Postlist post={post} aspect="square" />)
        }
      </div> -->
    </Container>
    <section class="pb-8">
      <Container>
        <div class="flex justify-between">
          <h2 class="text-2xl md:text-3xl lg:text-4x">Introducting AI Tools</h2>
          <a href="/ai" class="text-blue-800 hover:underline">View All</a>
        </div>
        <HoverEffect items={aiTools} />
      </Container>
    </section>
    <section class="pb-8 bg-zinc-100">
      <Container>
        <h2 class="text-2xl md:text-3xl lg:text-4xl mb-4">Presentations</h2>
        <div class="grid md:grid-cols-2 lg:grid-cols-3 justify-center gap-6">
          {
            docs.map((doc) => (
              <div class="flex flex-col gap-2">
                <iframe
                  src={`https://view.officeapps.live.com/op/embed.aspx?src=${doc.url}`}
                  width="100%"
                  height="250px"
                />
                <div class="flex justify-between">
                  <h3 class="text-lg md:text-xl">{doc.name}</h3>
                  <button>
                    <a href={doc.url} download>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width={1.5}
                        stroke="currentColor"
                        class="w-6 h-6">
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3"
                        />
                      </svg>
                    </a>
                  </button>
                </div>
              </div>
            ))
          }
        </div>
      </Container>
    </section>
    <script
      type="text/partytown"
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5065168668220179"
      crossorigin="anonymous"></script>
    <!-- <ins
        class="adsbygoogle"
        style="display:block"
        data-ad-format="fluid"
        data-ad-layout-key="-7e+f1-16-4w+db"
        data-ad-client="ca-pub-5065168668220179"
        data-ad-slot="8353903639"></ins>
      <script text="text/partytown">
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script> -->
  </main>
</Layout>
